<div class="panel panel-default">
    <div class="panel-heading">@Model.Nume</div>
    <div class="panel-body">
        Cuantum bursa: <strong>@Model.Cuantum</strong>
        <br />
        <span class="label label-success">@Model.MedieMinima</span>
        <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Bursa/Show/@Model.BursaId">Afisare bursa</a>
    </div>
</div>
<br />

