<div class="panel panel-default">
    <div class="panel-heading">@Model.Nume</div>
    <div class="panel-body">
        Cuantum bursa: <strong>@Model.Cuantum</strong>
        <br />
        <i class="glyphicon glyphicon-globe"></i> @Model.MedieMinima

    </div>
</div>
<br />

