@{
    ViewBag.Title = "Afisare burse";
}

<h2>@ViewBag.Title</h2>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


@foreach (AppBurse.Models.Bursa bursa in ViewBag.Burse)
{
    @Html.Partial("BursaInfo", bursa);

}

<a class="btn btn-sm btn-success" href="/Bursa/New">Adauga o bursa</a>
<br />


